DB_USER=valami
DB_PASSWORD=valami
DB_NAME=valami

VITE_APP_SECURITY_EXERCISE_SALT=hashso

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=ide_jon_a_brevo_kulcs
SMTP_PASSWORD=ide_jon_az_smtp_jelszo

# App konfiguráció
FRONTEND_URL=http://localhost:5173