DB_USER=valami
DB_PASSWORD=valami
DB_NAME=valami

VITE_APP_SECURITY_EXERCISE_SALT=hashso

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=ide_jon_a_brevo_kulcs
SMTP_PASSWORD=ide_jon_az_smtp_jelszo

# App konfiguráció
FRONTEND_URL=http://localhost:5173

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

# OAuth2 Secrets
GOOGLE_CLIENT_ID=ide_jon_a_google_id
GOOGLE_CLIENT_SECRET=ide_jon_a_google_secret

DISCORD_CLIENT_ID=ide_jon_a_discord_id
DISCORD_CLIENT_SECRET=ide_jon_a_discord_secret